body{
font-family: Arial;
background: linear-gradient(135deg,#667eea,#764ba2);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.quiz-container{
background:white;
width:420px;
padding:25px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
text-align:center;
}

h1{
color:#333;
}

#timer{
font-size:18px;
font-weight:bold;
color:red;
margin-bottom:10px;
}

ul{
list-style:none;
padding:0;
}

li{
margin:12px 0;
font-size:16px;
}

button{
background:#667eea;
color:white;
border:none;
padding:10px;
width:100%;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#5563d1;
}
